html {
    font-size: 125%;
    scroll-behavior: smooth;
}


ul {
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

h1, 
h2, 
h3,
a, 
form {
    font-family: 'Montserrat',
    sans-serif;
    margin: 0;
}

h2 {
    font-size: 2.8rem;
    font-weight: 700;
    padding: 20px;
}

.project-overview h2,
.about-me h2, 
.contact-h2 {
    // color: #12261e;
    color: #235a37;
    text-shadow: 3px 3px 3px #DDA15E;
    padding: 30px 0;
    font-weight: 700;
    position: relative;
    text-align: center;

    &::after {
        content: "";
        height: 10px;
        background-color: coral;
        display: inline-block;
        opacity: 1;
        position: absolute;
        bottom: 8px;
    }
}

.project-overview h2::after {
    width: 525px;
    left: 35%;
}

.about-me h2::after {
    width: 300px;
    left: 43%;
}

.contact-h2::after {
    width: 360px;
    left: 40%;
}

h3 {
    font-weight: 400;
}

.skills h2,
.projects h3 {
    font-weight: 700;
    font-size: 2.2rem;
    color: coral;
    text-shadow: 1px 1px black;
    text-align: center;
    font-style: italic;
}


p {
    font-family: 'Mulish', sans-serif;
}

.wrapper {
    max-width: 1440px;
    width: 85%;
    margin: 0 auto;
}


nav ul {
    // z-index: 10; 
    display: flex;
    justify-content: flex-end;


    li {
        z-index: 10;
        list-style: none;
        margin: 20px 40px;
    }

    a {
        text-decoration: none;
        color: wheat;
        // color: rgb(15, 5, 83);
        font-weight: 400;

        &:hover,
        &:focus {
            color: coral;
            cursor: pointer;
        }
    }
}

.header-text a,
.submit, 
.project-overview button {
    font-family: 'Montserrat',
    sans-serif;
    text-decoration: none;
    border: none;
    background-color: coral;
    color: rgb(46, 11, 26);
    padding: 10px 25px;
    border-radius: 5px;
    margin: 50px 0;

    &:hover,
    &:focus {
        // background-color: rgb(252, 179, 211);
        background-color: rgb(188, 78, 37);
        color: white;
        cursor: pointer;
    }
}