html {
    font-size: 125%;
    scroll-behavior: smooth;
}


ul {
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

h1, 
h2, 
h3,
a {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h2 {
    font-size: 2.8rem;
    font-weight: 700;
    padding: 20px;
}

h3 {
    font-style: italic;
    font-weight: 400;
}

p {
    font-family: 'Mulish', sans-serif;
}

// button {
//     border: none;
//     background-color: rgb(205, 50, 117);
//     color: white; 
//     padding: 10px 25px;
//     border-radius: 5px;

//     &:hover,
//     &:focus {
//         background-color: rgb(252, 179, 211);
//         color: rgb(205, 50, 117);
//         cursor: pointer;
//     }
// }

.wrapper {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}