footer {
    background-color: coral;

    p {
        font-size: 1rem;
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }

    a {
        
        text-decoration: none;
        color: black;
    }
}


// .thank-you {
//     height: 50vh;
//     background-color: wheat;
// }