footer {
    background-color: coral;

    p {
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }

    a {
        
        text-decoration: none;
        color: black;
    }
}