header {
    background-image: url(../assets/image3.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    
    .overlay {
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, 0.2);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}


.header-text {
    text-align: center;
    opacity: 1;

}
h1 {
    font-size: 150px;
    letter-spacing: 2px;
    line-height: 72px;
    // color: white;
    font-weight: 700;
}

nav ul {
    display: flex;
    li {
        list-style: none;
        margin: 20px;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

