header {
    background-image: url(../assets/background.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;
    height: 100vh;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    position: relative;
    
    
    .overlay {
        position: absolute;
        height: 100vh;
        width: 100%;
        background: rgba(5, 28, 3, 0.4);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}


.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    height: 100vh;
}


.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: wheat;
    width: 65%;

    h1 {
        font-size: 7.5rem;
        letter-spacing: 2px;
        line-height: 0.9;
        font-weight: 700;
        margin: 50px 0;
    }

    h2 {
        padding: 0;
    }
}


.portrait {
    // height: fit-content;
    max-width: 33%;
    object-fit: cover;
    margin-bottom: 50px;
    display: block;

    
    img {
        border: 11px solid wheat;
        border-radius: 50%;
    }
}

