// header {
//     background-image: url(../assets/image9.jpeg);
//     background-position: center;
//     background-size: cover;
//     height: 80vh;
//     position: relative;
    
//     .overlay {
//         height: 100%;
//         width: 100%;
//         background: rgba(255, 254, 254, 0.3);
//         position: absolute;
//         top: 0;
//         bottom: 0;
//         right: 0;
//         left: 0;
//     }
// }

header {
    // background-color: rgb(15, 5, 83);
    background-color: wheat;
    height: 90vh;
    // max-width: 1440px;
}


.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    // text-align: start;
    // text-align: center;
    // opacity: 1;
    // color: wheat;
    color: rgb(15, 5, 83);
    // color: black;

    h1 {
        font-size: 7.5rem;
        letter-spacing: 2px;
        line-height: 0.9;
        font-weight: 700;
        width: 70%;
        margin: 10px 0;
        text-shadow: 1px rgb(205, 50, 117);
    }

    // .last-name {
    //     align-self: center;
    // }

    h2 {
        margin-top: 20px;
        padding: 0;
        // align-self: flex-end;
    }

    a {
        text-decoration: none;
        border: none;
        background-color: rgb(205, 50, 117);
        color: white;
        padding: 10px 25px;
        border-radius: 5px;
        margin-top: 50px;
    
        &:hover,
        &:focus {
            background-color: rgb(252, 179, 211);
            color: rgb(205, 50, 117);
            cursor: pointer;
        }
    }
}




nav ul {
    // z-index: 10; 
    display: flex;
    justify-content: flex-end;


    li {
        z-index: 10;
        list-style: none;
        margin: 20px 40px;
    }
    a {
        text-decoration: none;
        // color: rgb(232, 225, 230);
        // color: wheat;
        color: rgb(15, 5, 83);
        font-weight: 700;

        &:hover,
        &:focus {
            // color: white;
            color: rgb(205, 50, 117);
            cursor: pointer;
        }
    }
}

h1::before {
    // background-image: url(../assets/.decal-img.jpg);
    content: "";
    width: 600px;
    height: 600px;
    border-radius: 50%;
    display: inline-block;
    // background: coral;
    border: 1px solid coral;
    margin-right: 10px;
    opacity: 0.7;
    position: absolute;
    top: -150px;
    right: -50px;
    z-index: 1;
}

h1::after {
    content: "";
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: inline-block;
    // background: rgb(246, 211, 147);
    // border: 1px solid rgb(246, 211, 147);
    border: 1px solid rgb(15, 5, 83);
    margin-right: 10px;
    opacity: 0.7;
    position: absolute;
    top: -200px;
    right: 200px;
    z-index: 1;
}


// .decal-img {
//     // background-image: url(../assets/hexagon.png);
//     // height: 50px;
//     // width: 50px;
//     // color: white;
//     border: 1px solid white;
//     height: 100px;
//     width: 100px;
//     border-radius: 50%;
// }
