@media (max-width: 1375px) {
    .project-content {
        height: auto;
    }

    // .project-highlight {
    //     justify-content: space-between;
    // }
}


@media (max-width: 1275px) {
    .about-me {
        height: auto;
    }

    .project-content {
        height: auto;
        .project-text {
            width: 100%;

            p {
                text-align: center;
            }
        }
    

        .project-highlight {
            flex-direction: column;
        }
    

        .links {
            margin: 15px 0 20px 0;
        }


        .next,
        .return {
            bottom: 1%;
        }
    

        .slider {
            margin: 30px 0 10px 0;
        }


        p {
            margin-bottom: 0;
            margin-top: 10px;
        }


        .react {
            margin-bottom: 0;
            position: relative;
        }
    }
}



@media (max-width: 1175px) {

    .header-text {
        h1 {
            font-size: 6rem;
        }
    }
}




@media (max-width: 980px) {
    nav ul {
        justify-content: center;
        li {
            margin-bottom: 0;
        }
    }

    .regular-menu {
        display: none;
    }


    .dropdown,
    .fa-plus,
    .mobile-nav {
        display: block;
    }

    .header-text {
        width: 100%;
        align-items: center;
        text-align: center;

        h1 {
            text-align: center;
            font-size: 3.5rem;
            padding: 0;
            width: 100%;
            margin: 30px;
            padding-top: 30px;
        }

        h2 {
            font-size: 2.2rem;
            margin: 0;
        }

        a {
            align-self: center;
            margin: 20px 0;
        }
    }

    .header-content {
        max-height: 70%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .portrait {
            max-width: 45%;
            padding: 10px 0;
        }
    }
    
    
    .project-overview h2 {
        width: 70%;
        margin: 0 auto;
    }


    .project-overview h2,
    .about-me-h2,
    .contact-h2 {
        &::after {
            left: 35%;
            bottom: 8px;
        }
    }
    

    .project-overview h2::after {
        width: 280px;
        left: 30%;
    }


    .project-content {
        .next,
        .return {
            padding: 8px 5px;
            font-size: 0.8rem;
        }
    }
    
    
    .about-me-h2::after {
        width: 300px;
    }
    

    .contact-h2::after {
        width: 360px;
    }


    .project-content {
        h3 {
            &::after {
                left: 35%;
            }
        }
    }


    .contact {
        form {
            width: 80%;
        }
    }


    .socials {
        padding: 50px 0;
        .social-links {
            margin: 0 auto;
        }
    }
}




@media (max-width: 830px) {
    h4 {
        display: block;
    }

    .project-overview {

        .thumbnails {
            flex-wrap: wrap;
            padding-bottom: 20px;
            .box {
                height: 200px;
                width: 200px;
                margin-bottom: 40px;
            }
        }

        .box {
            .back {
                p {
                    font-size: 1rem;
                }
                & p:last-of-type {
                    font-size: 0.8rem;
                }
            }
        }
    }


    .project-content {
        .links {
            font-size: 1rem;
        }
    }


    .slider {
        max-width: 500px;
        height: auto;
        margin: 0 auto;
    }


    .socials {
        .social-links {
            font-size: 3rem;
        }
    }
}



@media (max-width: 720px) {

    .about-me {
        p {
            font-size: 1.3rem;
        }
    }


    .slider {
        height: auto;
        max-width: 500px;
        margin: 0 auto;
    }
}



@media (max-width: 700px) {
    h2 {
        font-size: 2.5rem;
    }


    .header-content {
        padding-top: 50px;
    }

    .header-text {
        h1 {
            font-size: 4rem;
        }
    }


    .project-overview h2,
    .about-me-h2,
    .contact-h2 {
        padding-bottom: 8px;
        border-bottom: 7px solid coral;
        width: 70%;
        margin: 0 auto;
        &::after {
            display: none;
        }
    }


    .slider {
        max-width: 450px;
        height: auto;
        margin: 0 auto;
    }


    .contact {
        form {
            width: 100%;
        }
    }
}


@media (max-width: 620px) {
    .header-text {
        h1 {
            font-size: 3.5rem;
            margin: 30px auto;
            padding-top: 0;
            margin-top: 0;
        }

        
        h2 {
            font-size: 1.3rem;
        }
    }
    .header-content {
        .portrait {
            max-width: 55%;
        }
    }
 

    .projects {
        .wrapper {
            width: 100%;
        }

        .project-content {
            margin: 50px 0;
            h3 {
                margin: 0 auto;
                width: 85%;
                padding-bottom: 8px;
                border-bottom: 5px solid wheat;
                
                &::after {
                    display: none;
                }
            }
        }
    }


    .header-text a,
    .submit {
        font-size: 0.9rem;
    }

    
    .project-content {
        h3 {
            font-size: 2.1rem;
        }
    
        .project-text {
            p {
                font-size: 1.3rem;
            }
        }
    }
    

    .slides-wrapper {
        background-color: #222;
        object-fit: scale-down;
    }


    .slider {
        max-width: 400px;
        height: auto;
        margin: 0 auto;
    }


    .socials {
        height: auto;
    }


    .socials-nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }
}



@media (max-width: 540px) {

    .project-content {
        padding: 20px 10px 50px 10px;

        .links {
            margin-top: 30px;
        }
        
        .next,
        .return {
            position: static;
            display: flex;
            width: 55%;
            flex-direction: column;
            margin: 20px auto;
            padding: 8px 5px;
        }
        
        .next {
            margin-bottom: 0;
        }
        .return {
            margin-top: 50px;
        }
    }    
}

@media (max-width: 480px) {
    h2 {
        font-size: 2.3rem;
    }


    .header-content {
        margin: 0 auto;
    }
    

    .header-text a,
    .submit {
        width: 70%;
        padding: 5px 8px;
        font-size: 0.8rem;
    }


    .project-overview h2,
    .about-me-h2,
    .contact-h2 {
        border-bottom: 6px solid coral;
    }


    .about-me {
        p {
            font-size: 1.1rem;
        }
    }

    .project-content {
        h3 {
            font-size: 2rem;
        }
        .project-text {
            p {
                font-size: 1.2rem;
            }
        }
    }


    .socials {
        h2 {
            font-size: 2.3rem;
        }

        .social-links {
            font-size: 3rem;
        }
    }
}



@media (max-width: 445px) {
    .fa-plus {
        margin-left: 0;
    }


    .project-content {
        h3 {
            font-size: 1.9rem;
        }
    
        .project-text {
            p {
                font-size: 1.1rem;
            }
        }
    }


    .prev-button,
    .next-button {
        i {
            font-size: 1rem;
        }
    }


    .slider {
        max-width: 320px;
        height: auto;
        margin: 0 auto;
    }
    

    .socials {
        .social-links {
            font-size: 2.5rem;
        }
    }
}



@media (max-width: 390px) {
    h4, 
    .project-text h4 {
        font-size: 0.9rem;
    }
}



@media (max-width: 350px) {
    .header-text {
        h1 {
            font-size: 2.1rem;
        }

        h2 {
            font-size: 1.1rem;
        }
    }
    

    .about-me {
        p {
            font-size: 1rem;
        }
    }


    .slider {
        max-width: 300px;
        height: auto;
        margin: 0 auto;
    }


    .project-content {
        .links {
            font-size: 0.9rem;
        }
    }

    .socials {
        h2 {
            font-size: 2.1rem;
        }
        .social-links {
            font-size: 2rem;
        }

    }
}