.project-overview {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    text-align: center;

    .overview-images {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 50px 0;

        .thumbnail {
            margin: 20px;
            width: calc(20% - 40px);
            border-radius: 10px;
            object-fit: cover;
            position: relative;

            img {
                border-radius: 10px;
                object-fit: contain;
            }

            

        .thumbnail-overlay {
                background-color: rgb(188, 78, 37, 0.9);
                height: 100%;
                width: 100%;
                bottom: 0;
                right: 0;
                position: absolute;
                opacity: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                transition: 0.3s;
                border-radius: 10px;
                box-shadow: 5px 5px 10px rgba(105, 32, 6, 0.9),
                -5px -5px 10px rgba(105, 32, 6, 0.9);

                &:hover,
                &:focus {
                    opacity: 1;
                }

                p {
                    opacity: 1;
                    color: black;
                    font-size: 1.5rem;
                    margin: 0;
                    padding: 5px;
                    font-weight: 700;
                    text-shadow: 0.5px 0.5px 1px wheat;
                }

                & p:last-of-type {
                    font-size: 1rem;
                }
            }
        }
    }
}


    .projects {
        background-color: #052011;
        
        p {
            text-align: left;
            font-size: 1.4rem;
            padding: 20px;
        }
    }





.project-content {
    padding: 50px;
    margin: 100px 0;
    border: 10px solid #53713F;
    background-color: #0c341e;

    h3 {
        margin-bottom: 30px;
        position: relative;

        &::after {
        content: "";
            width: 325px;
            height: 5px;
            background-color: wheat;
            display: inline-block;
            opacity: 1;
            position: absolute;
            bottom: -10px;
            left: 40%;
        }
    }

    .project-text {
        color: wheat;
        width: 45%;
    }
    
    .project-highlight {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .links {
        margin-top: 25px;
        display: flex;
        flex-direction: column;

        a {
        text-decoration: none;
        color: coral;
        font-style: italic;
        margin: 0 auto;
        width: 27%;
        padding: 5px;
        }
    }
}    



    

    // .project-img-container {
    //     display: flex;
    //     margin: 20px 0;
    // }


// .project-content div:first-child {
//     margin-top: 50px;
// }


// .project-img {
//     width: calc(33% - 20px);
//     height: fit-content;
//     margin: 0 10px;
//     object-fit: cover;
//     // border-radius: 5px;

//     img {
//         // rgb(188, 78, 37, 0.9)
//         // border: 5px solid #0c341e;
//         box-shadow: 10px 10px #0c341e;
//         // border-radius: 5px;
//     }
// }

    // h3 {
    //     font-weight: 700;
    //     font-size: 2.2rem;
    //     color: coral;
    //     text-shadow: 1px 1px black;
    // }

    
        
        // a {
        //     text-decoration: none;
        //     color: coral;
        //     font-style: italic;
        //     padding: 5px;
            
        // }




// .carousel {
//     position: relative;
    
//     .carousel-item {
//         height: 300px;
//         display: none;
//     }
    
//     .carousel-item-selected {
//         display: block;
//         border: 3px solid red;
//     }
    
//     .carousel-nav {
//         width: 100%;
//         padding: 20px 0;
//         position: absolute;
//         bottom: 0;
//         left: 0%;
//         background-color: red;
//         text-align: center;
//     }
    
//     .carousel-button {
//         width: 20px;
//         height: 20px;
//         display: inline-block;
//         background-color: rgba(255, 255, 255, 0.7);
//         border-radius: 50%;
//         margin: 0 5px;
//         cursor: pointer;
//     }
// }



// .projects {
// background: #FEFAE0;
// background: linear-gradient(#0c341e, #2e995e);
// background-color: #0c341e;
// background-color: #0c341e;

// padding-bottom: 150px;
// background-image: url(../assets/projects-background.jpg);
// background-position: center;
// background-size: cover;
// height: 100vh;

// .projects-heading {
//     height: 40vh;
//     background-image: url(../assets/background.jpg);
//     background-position: center;
//     background-size: cover;
// }

// &::after {
// content: "";
//     width: 425px;
//     height: 10px;
//     background-color: wheat;
//     display: inline-block;
//     opacity: 1;
//     position: absolute;
//     bottom: 0;
//     left: 40%;
// }

// h2 {
//     // color: #12261e;
//     color: #235a37;
//     text-shadow: 3px 3px 3px #DDA15E;
//     margin: 30px 0;
//     font-weight: 700;
//     position: relative;

//     &::after {
//         content: "";
//         width: 525px;
//         height: 10px;
//         background-color: coral;
//         display: inline-block;
//         opacity: 0.7;
//         position: absolute;
//         bottom: 0;
//         left: 35%;
//         // z-index: 1;
//     }
// }