.project-overview {
    // background-color: wheat;
    // background-color: hsl(248, 89%, 17%);
    // background-color: #12251d;
    background-color: wheat;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    text-align: center;

    // h2 {
    //     // color: #12261e;
    //     color: #235a37;
    //     text-shadow: 3px 3px 3px #DDA15E;
    //     margin: 30px 0;
    //     font-weight: 700;
    //     position: relative;

    //     &::after {
    //         content: "";
    //         width: 525px;
    //         height: 10px;
    //         background-color: coral;
    //         display: inline-block;
    //         opacity: 0.7;
    //         position: absolute;
    //         bottom: 0;
    //         left: 35%;
    //         // z-index: 1;
    //     }
    // }

    .overview-images {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 50px 0;

        .thumbnail {
            margin: 20px;
            width: calc(20% - 40px);
            height: fit-content;
            // height: 350px;
            // width: 350px;
            position: relative;
            border-radius: 10px;
            object-fit: cover;

            img {
                border-radius: 10px;
                // object-fit: contain;
            }

            

        .thumbnail-overlay {
                // background-color: rgba(27, 11, 130, 0.8);
                // background-color: rgba(25, 59, 35, 0.8);
                background-color: rgb(188, 78, 37, 0.9);
                // background-color: hsla(16, 100%, 66%, 90%);
                height: 100%;
                width: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                position: absolute;
                opacity: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                transition: 0.5s;
                border-radius: 10px;


                &:hover,
                &:focus {
                    opacity: 1;
                    box-shadow: 5px 5px 10px white,
                    -5px -5px 10px white;
                    border: none;
                }

                p {
                    opacity: 1;
                    color: black;
                    font-size: 1.5rem;
                    margin: 0;
                    padding: 5px;
                    font-weight: 700;
                    text-shadow: 0.5px 0.5px 1px wheat;
                }

                & p:last-of-type {
                    font-size: 1rem;
                }
            }
        }
    }
}


.projects {
    // background: #FEFAE0;
    // background: linear-gradient(#0c341e, #2e995e);
    // background-color: #0c341e;
    // background-color: #0c341e;
    background-color: #052011;
    // padding-bottom: 150px;
    // background-image: url(../assets/projects-background.jpg);
    // background-position: center;
    // background-size: cover;
    // height: 100vh;

    // .projects-heading {
    //     height: 40vh;
    //     background-image: url(../assets/background.jpg);
    //     background-position: center;
    //     background-size: cover;
    // }

    h2 {
        color: coral;
        text-shadow: 3px 3px 3px black;
        padding-top: 100px;
        font-weight: 700;
        position: relative;
        text-align: center;

        &::after {
        content: "";
            width: 425px;
            height: 10px;
            background-color: wheat;
            display: inline-block;
            opacity: 1;
            position: absolute;
            bottom: 0;
            left: 40%;
        }
    }

    p {
        font-size: 1.5rem;
    }
}


.project-content {
    display: flex;
    flex-direction: column;
    padding: 50px;
    // align-items: center;
    // justify-content: center;
    // margin-top: 50px;
    margin: 100px 0;
    border: 10px solid #53713F;
    // border-style: ;
    // background-color: #0e542e;
    background-color: #0c341e;
    // box-shadow: 20px 20px #53713F, -20px -20px #53713F;
    

    .project-img-container {
        display: flex;
        margin: 20px 0;
    }
}

// .project-content div:first-child {
//     margin-top: 50px;
// }


.project-img {
    width: calc(33% - 20px);
    height: fit-content;
    margin: 0 10px;
    object-fit: cover;
    // border-radius: 5px;

    img {
        // rgb(188, 78, 37, 0.9)
        // border: 5px solid #0c341e;
        box-shadow: 10px 10px #0c341e;
        // border-radius: 5px;
    }
}


.project-text {
    // padding: 50px;
    color: wheat;

    h3 {
        font-weight: 700;
        font-size: 2.2rem;
        color: coral;
        text-shadow: 1px 1px black;
    }

    .links {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        
        a {
            text-decoration: none;
            color: coral;
            font-style: italic;
            padding: 5px;
            
        }
    }
}




