.projects {
    background-color: wheat;
}


.project-img {
    height: auto;
    width: 30%;
}


.project-text {
    width: 50%;
}


.project-content {
    display: flex;
    align-items: center;
    justify-content: center;
}