.project-overview {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-bottom: 50px;
    text-align: center;
    position: relative;
    
    .thumbnails {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding-top: 0;
        // padding-bottom: 80px;
        margin-bottom: 30px;
    }
    
    .box {
        position: relative;
        top: 175px;
        left: 15%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 300px;
        margin: 0 20px;

        img{
            width: 100%;
            border-radius: 10px;
        }
        
        .front, 
        .back {
            width: 100%;
            height: 100%;
            position: absolute;
            transition: 2s;
            backface-visibility: hidden;
            border-radius: 10px;
        }

        .front {
            transform: perspective(1000px) rotateY(0deg);
            z-index: 1.6s;
        }

        .back {
            transform: perspective(1000px) rotateY(180deg);
            z-index: 1;
            background-color: hsla(96, 28%, 35%, 70%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 2px 2px 10px #0c341e, -2px -2px 10px #0c341e;

            p {
                font-size: 1.5rem;
                margin: 0;
                padding: 8px 0;
            }
            
            & p:last-of-type {
                font-size: 1rem;
            }

            button {
                margin: 5px;
            }
        }
        
        a {
            text-decoration: none;
            color: white;
        }
    }


    .box:hover .front,
    .box:focus .front,
    .box:active .front {
        transform: perspective(1000px) rotateY(-180deg);
        z-index: 2;
    }
    

    .box:hover .back,
    .box:focus .back {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 1;
    } 
}

