.skills {
    background-color: #0c341e;
    height: auto;
    display: flex;
    padding-bottom: 30px;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // text-align: center;

    h2 {
        margin: 10px;
    }

    .toolkit-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;

        
        li {
            list-style: none;
            color: wheat;
            font-size: 2.7rem;
            margin: 10px 40px;
            z-index: 10;

            i:hover,
            i:focus {
                color: #ffffff;
            }
        }

        // .fa-html5 {
        //     color: #f16529;
        // }
        // .fa-css3 {
        //     color: #2862e9;
        // }

        // .fa-js {
        //     color: #e9d44d;
        // }

        // .fa-react {
        //     color: #5ed3f3;
        // }

        // .devicon-firebase-plain {
        //     color: #f7a213;
        // }

        // .devicon-git-plain {
        //     color: #e94e31;
        // }

        // .fa-sass {
        //     color: #c36192;
        // }
    }

}


// .toolkit-icons {

// }