html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

ul {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
a {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h2 {
  font-size: 2.8rem;
  font-weight: 700;
  padding: 20px;
}

.project-overview h2,
.about-me h2,
.contact-h2 {
  color: #235a37;
  text-shadow: 3px 3px 3px #DDA15E;
  padding: 30px 0;
  font-weight: 700;
  position: relative;
  text-align: center;
}
.project-overview h2::after,
.about-me h2::after,
.contact-h2::after {
  content: "";
  background-color: coral;
  display: inline-block;
  opacity: 0.7;
  position: absolute;
  bottom: 8px;
}

.project-overview h2::after {
  width: 525px;
  height: 10px;
  left: 35%;
}

.about-me h2::after {
  width: 300px;
  height: 10px;
  left: 43%;
}

.contact-h2::after {
  width: 360px;
  height: 10px;
  left: 40%;
}

h3 {
  font-weight: 400;
}

.skills h2,
.projects h3 {
  font-weight: 700;
  font-size: 2.2rem;
  color: coral;
  text-shadow: 1px 1px black;
  text-align: center;
  font-style: italic;
}

p {
  font-family: "Mulish", sans-serif;
}

.wrapper {
  max-width: 1440px;
  width: 85%;
  margin: 0 auto;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
nav ul li {
  z-index: 10;
  list-style: none;
  margin: 20px 40px;
}
nav ul a {
  text-decoration: none;
  color: wheat;
  font-weight: 400;
}
nav ul a:hover, nav ul a:focus {
  color: coral;
  cursor: pointer;
}

header {
  background-image: url(../assets/background.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
header .overlay {
  height: 100%;
  width: 100%;
  background: rgba(5, 28, 3, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: wheat;
  width: 65%;
}
.header-text h1 {
  font-size: 7.5rem;
  letter-spacing: 2px;
  line-height: 0.9;
  font-weight: 700;
  margin: 50px 0;
}
.header-text h2 {
  padding: 0;
}
.header-text a {
  text-decoration: none;
  border: none;
  background-color: coral;
  color: rgb(46, 11, 26);
  padding: 10px 25px;
  border-radius: 5px;
  margin-top: 50px;
}
.header-text a:hover, .header-text a:focus {
  background-color: rgb(188, 78, 37);
  color: white;
  cursor: pointer;
}

.portrait {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 33%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 50px;
}
.portrait img {
  border: 11px solid wheat;
  border-radius: 50%;
}

.project-overview {
  background-color: wheat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
  text-align: center;
}
.project-overview .overview-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0;
}
.project-overview .overview-images .thumbnail {
  margin: 20px;
  width: calc(20% - 40px);
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.project-overview .overview-images .thumbnail img {
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
.project-overview .overview-images .thumbnail .thumbnail-overlay {
  background-color: rgba(188, 78, 37, 0.9);
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(105, 32, 6, 0.9), -5px -5px 10px rgba(105, 32, 6, 0.9);
          box-shadow: 5px 5px 10px rgba(105, 32, 6, 0.9), -5px -5px 10px rgba(105, 32, 6, 0.9);
}
.project-overview .overview-images .thumbnail .thumbnail-overlay:hover, .project-overview .overview-images .thumbnail .thumbnail-overlay:focus {
  opacity: 1;
}
.project-overview .overview-images .thumbnail .thumbnail-overlay p {
  opacity: 1;
  color: black;
  font-size: 1.5rem;
  margin: 0;
  padding: 5px;
  font-weight: 700;
  text-shadow: 0.5px 0.5px 1px wheat;
}
.project-overview .overview-images .thumbnail .thumbnail-overlay p:last-of-type {
  font-size: 1rem;
}

.projects {
  background-color: #052011;
}
.projects p {
  text-align: left;
  font-size: 1.4rem;
  padding: 20px;
}

.project-content {
  padding: 50px;
  margin: 100px 0;
  border: 10px solid #53713F;
  background-color: #0c341e;
}
.project-content h3 {
  margin-bottom: 30px;
  position: relative;
}
.project-content h3::after {
  content: "";
  width: 325px;
  height: 5px;
  background-color: wheat;
  display: inline-block;
  opacity: 1;
  position: absolute;
  bottom: -10px;
  left: 40%;
}
.project-content .project-text {
  color: wheat;
  width: 45%;
}
.project-content .project-highlight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.project-content .links {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.project-content .links a {
  text-decoration: none;
  color: coral;
  font-style: italic;
  margin: 0 auto;
  width: 27%;
  padding: 5px;
}

.about-me {
  background-color: wheat;
}
.about-me .about-text {
  padding: 50px;
}
.about-me p {
  font-size: 1.5rem;
  margin: 0;
  padding: 10px 0;
}

.skills {
  background-color: #0c341e;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.skills h2 {
  margin: 10px;
}
.skills .toolkit-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}
.skills .toolkit-icons li {
  list-style: none;
  color: wheat;
  font-size: 2.7rem;
  margin: 10px 40px;
  z-index: 10;
}
.skills .toolkit-icons li i:hover,
.skills .toolkit-icons li i:focus {
  color: #ffffff;
}

.socials {
  height: 50vh;
  background-image: url(../assets/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socials h2 {
  color: coral;
  text-shadow: 2px 2px wheat;
  text-align: center;
  font-weight: bold;
}
.socials .socials-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.socials .socials-nav ul {
  padding: 0;
}
.socials .social-links {
  font-size: 3.5rem;
  margin: 0 40px;
}

.contact {
  height: 100vh;
  background-color: wheat;
}

footer {
  background-color: coral;
}
footer p {
  font-size: 1rem;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: black;
}

.slider {
  position: relative;
  width: 600px;
  margin: 0 auto;
}

.slides-wrapper {
  background-color: #222;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.slide.active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.slide-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-indicators {
  text-align: center;
  position: absolute;
  bottom: -38px;
  left: 0;
  width: 100%;
  height: 38px;
}

.slide-indicators button {
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0 15px;
  background-color: coral;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
}

.slide-indicators button::after {
  content: "";
  position: absolute;
  width: 300%;
  height: 300%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slide-indicators button.active {
  background-color: white;
}

.prev-button,
.next-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0 100% 100% 0;
  cursor: pointer;
  border: none;
  display: none;
}

.next-button {
  left: auto;
  right: 0;
  border-radius: 100% 0 0 100%;
}

.slides-wrapper:hover ~ .prev-button,
.slides-wrapper:hover ~ .next-button,
.prev-button:hover,
.next-button:hover {
  display: block;
}

.prev-button:active,
.next-button:active {
  background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 1175px) {
  .header-text h1 {
    font-size: 6.5rem;
  }
}
@media (max-width: 980px) {
  .header-text h1 {
    font-size: 5.5rem;
  }
  .header-text h2 {
    font-size: 2.2rem;
  }
}
@media (max-width: 830px) {
  .header-text h1 {
    font-size: 5rem;
  }
  .header-text h2 {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  header {
    height: 140vh;
  }

  .header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-content .portrait {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 60%;
  }

  .header-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .header-text a {
    -ms-flex-item-align: center;
        align-self: center;
    margin: 20px 0;
  }
}